@import '../../styles/variables.scss';

.menucard-container {
	display: grid;
	// grid-template-areas: repeat (auto-fit, minmax 300px, 1fr) 
	grid-template-areas: "title price image"
						"desc price image";
	.title {
		grid-area: title;
		font-size: 1rem;
	}
	.price {
		grid-area: price;
		font-size: 1rem;
	}
	.desc {
		grid-area: desc;
		font-size: 1rem;
		margin: 0;
		padding: 0;
		line-height:normal;
	}
	.image { 
		grid-area: image;
		height: 100px;
	}
}

@media only screen and (min-width: 730px) {
	.menucard-container {
		grid-template-areas: "title price image"
							"desc price image";
	}
}