@import "../../styles/variables.scss";

.archive-list {
    .archive-list-item {
        margin: 0.3rem 0;
        h2,
        p {
            color: #fff;
        }

        p {
            font-weight: 400;
            font-family: $header-font;
        }

        .archive-list-drop {
            transition: .1s all;
            svg {
                font-size: var(--fs-title);
                color: #fff;
            }
        }
        .archive-list-drop-up{
            transform: rotate(180deg);
            transition: .1s all;
            svg {
                font-size: var(--fs-title);
                color: #fff;
            }
        }
    }

    .archive-list-item:nth-child(odd) {
        background-color: $green-bg;
    }

    .archive-list-item:nth-child(even) {
        background-color: $green-light-bg;
    }

    .list-item-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem 0.5rem;
    }

    .accordion {
        display: none;
    }

    .accordion-open {
        background-color: $medium-grey;
        display: grid;
        grid-template-areas: "order customer"
                            "comment comment";
        padding: 0.7rem;
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        div {
            margin-bottom: 1rem;
        }
        .order-items, .customer p, .order-comment p{
            font-family: $text-font;
            color: #000;
            span {
                font-weight: 700;
            }
        }
        h2 {
            font-size: var(--fs-sub-title);
            color: #000
        }
        .order-items {
            grid-area: order;
        }
        .customer {
            grid-area: customer;
            text-align: right;
        }
        .order-comment {
            grid-area: comment;
        }
    }
}
