@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


$green-bg: #4C7972;
$body-bg: #EFEFEF;
$container-bg: #ffffff;
$footer-bg: #03292C;
$price-bg: #FF0000;


$text-font: 'Roboto Condensed', sans-serif;
$header-font: 'Bebas Neue';
$box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.30);

