@import "../../styles/variables.scss";
.menu-nav{
    position: sticky;
    top: 0;
    z-index: 1;
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .vertical-line{
        margin: 0.2rem;
        width: 2px;
        background-color: $medium-grey;
    }
    a {
        text-decoration: none;
        font-family: $header-font;
        color: #000;
    }
}