@import "../../styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.about-header {
  font-size: 3rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.about-main {
  padding: 2rem;
}

.about-main .line {
  margin: 0.5rem;
  width: 90%;
  margin-bottom: 2rem;
}

.about-main p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  margin: 0.5rem;
  line-height: 3rem;
}

.contact {
  font-size: 1.2rem;
  margin-top: 1rem;
  padding-bottom: 0.8rem;
}

.staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    height: 100px;
    border-radius: 50%;
  }

  .middle-img {
    height: 12rem;
  }

  .name {
    font-style: italic;
    margin: 0;
  }
}

@media only screen and (min-width: 770px) {

  .about-main {
    max-width: 1000px;
    margin: 0 auto;
  }

  .about-main p {
    font-size: 1.2rem;
    line-height: 3rem;
  }

  .staff {
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;

    .staff-card {
      margin: 2rem;
    }
  }
}